{% extends 'admin/adminorigin.html.twig' %}

{% block body %}

    <div class="container-xl">
        <div class="row no-gutters">
            <div class="col-12 text-center">
                <h1 class="mt-5">
                    {{ title }}  {{ app.user.username }}
                </h1>

            </div>
        </div>
    </div>
    <div class="container-xl" id="main">
        <div class="row mt-5">

            <div class="col-4 text-center border-right">
                <div class="mt-3">
                    <h4>
                        Меню администратора
                    </h4>
                </div>
                <br><br>
                <div class="mt-1">
                    <button class="btn-outline-success" type="submit" style="border-radius: 10px">
                    <a href="{{ path('admin_user') }}">Пользователи</a>
                </div>
                <div class="mt-1">
                    <button class="btn-outline-success" type="submit" style="border-radius: 10px">
                        <a href="{{ path('admin_user') }}">Инструмент 1</a>
                </div>
                <div class="mt-1">
                    <button class="btn-outline-success" type="submit" style="border-radius: 10px">
                        <a href="{{ path('admin_user') }}">Инструмент 2</a>
                </div>
                <div class="mt-1">
                    <button class="btn-outline-success" type="submit" style="border-radius: 10px">
                        <a href="{{ path('admin_user') }}">Инструмент 3</a>
                </div>

            </div>
            <div class="col-8"> </div>
        </div>

    </div>

{% endblock %}

